{% extends "base.html" %}

{% block title %}Posts | {% endblock title %}

{% block content %}
    <div class="row-fluid">
        <h2>Blog Posts</h2>
    </div>
    <div class="row-fluid">
        <ul>
            {% for post in post_list %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% empty %}
                <li>Sorry, no posts yet! Check back later.</li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'home' %}" class="btn">&larr; Home</a></p>
    </div>
{% endblock content %}
